<p id="notice"><%= notice %></p>

<h1>Listing Medicamentos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Componentes</th>
      <th>Dosis</th>
      <th>Uso</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicamentos.each do |medicamento| %>
      <tr>
        <td><%= medicamento.nombre %></td>
        <td><%= medicamento.descripcion %></td>
        <td><%= medicamento.componentes %></td>
        <td><%= medicamento.dosis %></td>
        <td><%= medicamento.uso %></td>
        <td><%= medicamento.user_id %></td>
        <td><%= link_to 'Show', medicamento %></td>
        <td><%= link_to 'Edit', edit_medicamento_path(medicamento) %></td>
        <td><%= link_to 'Destroy', medicamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicamento', new_medicamento_path %>
